# Ignore .env file
.env

# Ignore database
db.sqlite3

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore .DS_Store files (for Mac users)
.DS_Store

# Ignore build output
/build
/dist

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo